<section class="max-w-6xl mx-auto my-28 px-4 md:my-32">
  <h2 class="text-xl text-center font-semibold md:text-2xl">
    You host. <br /> I'll handle the rest.
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-8 items-center md:mt-8">
    <div>Video loop placeholder</div>
    <p class="mt-4 max-w-md">
      You don't need a big production. <br />You need someone who quietly
      handles the details. <br /><br />So you can be present. <br />So the night
      feels smooth. <br />So you actually enjoy your own party. <br /><br />I
      plan and coordinate small events so you don't have to carry everything.
      From shaping the idea to managing logistics, I make sure things run
      smoothly without overdoing it.
    </p>
  </div>
</section>
