<section class="max-w-6xl mx-auto my-28 px-4 md:my-32">
  <h2 class="text-xl text-center font-semibold md:text-2xl">
    You host. <br /> I'll handle the rest.
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 mt-4 gap-8 items-start md:mt-8">
    <div class="rounded-sm overflow-hidden">
      <video
        autoplay
        muted
        loop
        playsinline
        controlslist="nodownload"
        oncontextmenu="return false;"
        width="100%"
        poster="https://image.mux.com/CG8rgDm9rUUU4U7k00LCiV3ZMDeqV56TUEi0242ZKBsiw/thumbnail.jpg"
      >
        <source
          src="https://stream.mux.com/CG8rgDm9rUUU4U7k00LCiV3ZMDeqV56TUEi0242ZKBsiw.m3u8"
          type="application/x-mpegURL"
        />

        Download the
        <a
          href="https://stream.mux.com/CG8rgDm9rUUU4U7k00LCiV3ZMDeqV56TUEi0242ZKBsiw.m3u8"
        >
          MP4
        </a>
        video.
      </video>
    </div>
    <p class="max-w-md">
      You don't need a big production. <br />You need someone who quietly
      handles the details. <br /><br />So you can be present. <br />So the night
      feels smooth. <br />So you actually enjoy your own party. <br /><br />I
      focus on gatherings up to around 100 guests, where care and coordination
      matter more than scale. From shaping the idea to managing logistics, I
      make sure things run smoothly without overdoing it.
    </p>
  </div>
</section>
