<section
  class="max-w-6xl mx-auto my-28 px-4 grid grid-cols-1 items-center md:grid-cols-2 md:my-32"
>
  <div class="order-2 md:order-1 max-w-md">
    <h2 class="text-xl font-semibold md:text-2xl">
      Planning a party is fun. <br /> There's just more to it than you expect.
    </h2>
    <div class="space-y-4 mt-4">
      <p>
        Planning a party starts with ideas. Who's coming, how it should feel,
        the kind of night you want to create. <br /><br />What's easy to
        underestimate is how much coordination it takes to bring it all
        together. The decisions, the messages, the timelines, the constant small
        questions. <br /><br />Before you know it, you're hosting <em>and</em> managing.
        And that's when it gets harder to stay present. <br /><br />You want
        your guests to feel taken care of. But you don't want to miss the
        moments you're hosting for.
      </p>
    </div>
  </div>
  <div class="order-1 md:order-2">Video loop placeholder</div>
</section>
