---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<section class="mt-24 p-4">
  <header>
    <h1>
      Party planning for gatherings that are meant to feel easy feels easy.
    </h1>
    <p>
      Birthdays, dinners, and intimate celebrations. <br />Including small
      company events that don't feel corporate.
    </p>
  </header>
</section>
