---
import { Button } from "@/components/ui/button";
---

<section class="mt-10 p-4 max-w-6xl mx-auto flex flex-col gap-6 md:mt-20">
  <header class="text-center">
    <span
      class="mx-auto select-none text-sm flex items-center gap-1 justify-center max-w-fit bg-neutral-800/5 px-4 rounded-2xl py-1"
    >
      <span class="w-2 h-2 rounded-full bg-green-500 pulse inline-block"></span>
      Available for new events
    </span>

    <h1
      class="text-2xl font-semibold max-w-3xl mx-auto mt-4 md:text-4xl lg:text-5xl"
    >
      Party planning for gatherings that are meant to feel easy.
    </h1>
    <p class="mt-2 max-w-xs mx-auto sm:max-w-md md:text-xl lg:max-w-lg">
      For birthdays, dinners, intimate celebrations, and small company events
      that don't feel corporate.
    </p>

    <div class="flex flex-col items-center mt-8">
      <Button>Let's plan your party</Button>
    </div>
  </header>
</section>

<style>
  .pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 6px rgba(0, 0, 0, 0);
    }
  }
</style>
