---
import { Button } from "@/components/ui/button";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Curated with Courtney</title>
    <meta
      name="description"
      content="Party planning for gatherings that are meant to feel easy."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://curatedwithcourtney.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Curated with Courtney" />
    <meta
      property="og:description"
      content="Party planning for gatherings that are meant to feel easy."
    />
    <meta
      property="og:image"
      content="https://curatedwithcourtney.com/og.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="curatedwithcourtney.com" />
    <meta property="twitter:url" content="https://curatedwithcourtney.com" />
    <meta name="twitter:title" content="Curated with Courtney" />
    <meta
      name="twitter:description"
      content="Party planning for gatherings that are meant to feel easy."
    />
    <meta
      name="twitter:image"
      content="https://curatedwithcourtney.com/og.png"
    />
  </head>
  <body>
    <nav
      class="max-w-7xl mx-auto px-4 py-3 fixed w-full top-0 flex items-center justify-between backdrop-blur-2xl"
    >
      <a href="/" class="font-bold sm:text-lg">Curated with Courtney</a>
      <Button client:load size="sm">Let's chat!</Button>
    </nav>
    <main>
      <slot />
    </main>
  </body>
</html>
