---
import { Button } from "@/components/ui/button";
import { subhead } from "@/constants.ts";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Curated with Courtney</title>
    <meta name="description" content={subhead} />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://curatedwithcourtney.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Curated with Courtney" />
    <meta property="og:description" content={subhead} />
    <meta
      property="og:image"
      content="https://curatedwithcourtney.com/og.png"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:type" content="image/png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="curatedwithcourtney.com" />
    <meta property="twitter:url" content="https://curatedwithcourtney.com" />
    <meta name="twitter:title" content="Curated with Courtney" />
    <meta name="twitter:description" content={subhead} />
    <meta
      name="twitter:image"
      content="https://curatedwithcourtney.com/og.png"
    />
  </head>
  <body class="bg-[#f8fbfd]">
    <nav
      class="max-w-6xl mx-auto px-4 py-3 sticky top-0 flex items-center justify-between bg-[#f8fbfd] z-50"
    >
      <a href="/" class="font-bold sm:text-lg">Curated with Courtney</a>

      <a
        href="#contact"
        class="inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-xs font-medium transition-all disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg:not([class*='size-'])]:size-4 shrink-0 [&_svg]:shrink-0 outline-none focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive bg-[#006d77] text-primary-foreground hover:bg-[#006d77]/90 h-9 px-4 py-2 has-[>svg]:px-3"
        >Let's chat</a
      >
    </nav>
    <main class="relative">
      <slot />
    </main>
  </body>
</html>
